{% extends 'base.html' %}

{% block title %} {{company.name}} {% endblock %}

{% block header %}
	<h1>{{company.name|title}}</h1>
{% endblock %}

{% block content %}
	<div id='description'>
		<h2>Description</h2>
		<p>{{company.description}}</p>
	</div>
	<div id='area'>
		<h2>Area</h2>
		<p>{{company.area}}</p>
	</div>
	<div id='reference'>
		<img src='{{MEDIA_URL}}{{company.image}}'>
	</div>
	<div id='comments'>
		<h2>Comments</h2>
		{% for item in comments %}
			<p>{{item.text}}</p>
		{% empty %}
			<p>No comments</p>
		{% endfor %}
	</div>
</section>
<footer>
	<p>Register {{company.register_time|date:'SHORT_DATETIME_FORMAT'}} by {{company.user}}</p>
</footer>
{% endblock %}